@import '../abstracts/_placeholders/card';
@import '../abstracts/_placeholders/flexbox';
@import '../abstracts/_mixins/size';

/* BLOG STYLES

======================== */

.blog-page-color {
    background-color: var(--color-primary);
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.blog-card {
    @extend %card;
    @include size(375px, 615px);
    margin-top: 2rem;
    background-color: var(--color-grey-1);
    a {
        color: #0c7fde;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0.5rem 0 0 0.5rem;
    }
}
.blog-img {
    width: 100%;
    height: 200px;
    background-color: var(--color-secondary);
    border-radius: 5px 5px 0 0;
}
.blog-time {
    @extend %justify-start-align-center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.blog-desc {
    padding: 0.5rem 0 0.5rem 0.5rem;
}
