@import '../abstracts/_placeholders/flexbox';

/* CONTACTED PAGE STYLES

======================== */

.contacted-container {
    @extend %justify-center-align-center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.contact-header-title {
    text-align: center;
    color: var(--color-white);
    font-weight: 500;
    font-size: 6rem;
}
.thankyou-content {
    @extend %justify-center-align-center;
    flex-direction: column;
    gap: 1rem;
}
.thankyou-content-checkmark {
    color: var(--color-secondary);
    font-size: 8rem;
}
.thankyou-content-main {
    color: var(--color-white);
    font-weight: 400;
}
