@import '../abstracts/_placeholders/flexbox';

/* CONTACT STYLES

======================== */

.contact-page-color {
    background-color: var(--color-grey-1);
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}
/* CURVE TO BLEND PAGES

##################### */

.curve-CNT {
    @extend %curve;
    z-index: 2;
    top: 0;
    left: 0;
}
.curve-CNT svg {
    @extend %curveSVG;
    @include size(100px, calc(120% + 1.3px));
}
.curve-CNT .shape-fill {
    fill: var(--color-primary);
}

/* ################# */

.page-container form {
    @extend %justify-center-align-center;
    flex-direction: row;
}
.cnt-left {
    @extend %justify-center-align-center;
    flex-direction: column;
    height: 100%;
}
.cnt-left input {
    background-color: var(--color-grey-2);
    border: none;
    border-radius: var(--border-radius-1);
    width: 425px;
    height: 40px;
    margin-bottom: 1rem;
    color: var(--color-white);
    font-size: 1.1rem;
    padding: 0.5rem;
}
.cnt-left label {
    align-self: start;
    font-size: 1rem;
    font-weight: 400;
}
.contact-links {
    @extend %justify-start-align-center;
    width: 100%;
    font-size: 1.2rem;
    gap: 0.5rem;
}
.cnt-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
    height: 100%;
}
.cnt-right textarea {
    background-color: var(--color-grey-2);
    border-radius: var(--border-radius-1);
    margin-bottom: 1rem;
    border: none;
    width: 400px;
    height: 200px;
    color: var(--color-white);
    font-size: 1.1rem;
    padding: 0.5rem;
    resize: none;
}
.cnt-right label {
    font-size: 1rem;
    font-weight: 400;
}
.cnt-right button {
    align-self: end;
}
