/* Traditional navigation 

####################### */

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-body {
    max-width: 1480px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 0.75rem 40px;
    background-color: var(--color-grey-1);
    border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;
}
.nav-contact {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 140px;
}
.nav-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    width: 140px;
}
nav a {
    transition: color 500ms ease-in-out;
    color: var(--color-white);
}
nav a:hover {
    transition: color 500ms ease-in-out;
    color: var(--color-primary);
}
