// Styles for all pages relating to base positioning

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem 0 5rem 0;
    width: 100%;
}
.page-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.313rem;
    z-index: 1;
}