@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    background-color: #24252A;
}

/* This is the navbar */

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: transparent;
    width: 100vw;
}

.nav_links a,
li {
    color: #edf0f1;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0rem 0.313rem;
}

.nav_links li a {
    padding: 0.563rem 1.563rem;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    background-color: rgba(0, 136, 169, 0.6);
}

.nav_logo {
    font-size: 2rem;
    margin: 0 0.5rem;
}

.fa-linkedin {
    color: rgba(40, 103, 178, 1);
}

.fa-linkedin:hover {
    color: rgba(40, 103, 178, 0.6)
}

.fa-github {
    color: rgba(201, 81, 12, 1);
}

.fa-github:hover {
    color: rgba(201, 81, 12, 0.6)
}

/* This is the hero image and introduction txt */

.herobanner {
    background-image: url('../resources/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herobanner {
    text-align: center;
}

.herobanner h1 {
    font-size: 6rem;
    color: #0088A9
}

.herobanner h2 {
    position: relative;
    font-size: 2.5rem;
    left: 12rem;
    color: #edf0f1;
}

/* This is the main content */

main {
    top: 100%;
    width: 100%;
}

/* This is the skills content */

.skillscontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.skillstxt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf0f1;
    width: 50%;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 1rem;
}

.skillstxt h3 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #2867B2;
    font-weight: bold;
}

.skills {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #edf0f1;
    border-radius: 0 0 2rem 2rem;
}

.skillimghtml {
    width: 11rem;
    height: 11rem;
}

.skillimgcss {
    width: 9rem;
    height: 9rem;
}

.skillimgjs {
    width: 8rem;
    height: 8rem;
}

.skillimggimp {
    width: 10rem;
    height: 10rem;
}

/* This is the projects content */

.projectscontent {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #24252A;
}

.projectscontent h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #0088A9
}

.projectscontent p {
    font-size: 2rem;
    color: #edf0f1;
}

.techstacklist li {
    display: inline-block;
    color: #edf0f1;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.2rem;
    background-color: rgba(0, 136, 169, 1);
}

.techdesc li {
    margin: 0 0 0 1rem;
    list-style: square;
    padding: 0.6rem 0 0.6rem 0;
    font-size: 1.2rem;
}

.project {
    position: relative;
    width: 75rem;
    height: 43rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 0.5rem ridge #edf0f1;
}

.video {
    position: absolute;
    right: 10rem;
    bottom: 1rem;
}

video {
    height: 30rem;
    width: 30rem;
}

.video ul {
    position: relative;
    padding: 0.5rem 0;
    left: 8rem;
}

.video a {
    text-decoration: none;
    color: #edf0f1;
}

.video li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1rem;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.video li:hover {
    background-color: rgba(0, 136, 169, 0.6);
}


/* This is the aboutme content */

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #24252A;
    margin-bottom: 20rem;
}

.aboutmecontent {
    position: relative;
    width: 75%;
    height: 50rem;
    display: flex;
}

.profilecontent {
    position: relative;
    background-color: #edf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50rem;
    gap: 1rem;
    border-radius: 2rem 0 0 2rem;
}

.profilepic {
    width: 17rem;
    height: 18rem;
    border-radius: 50%;
    border: 0.5rem solid #0088A9
}

.profilecontent p {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #24252A;
}

.desctxt {
    position: relative;
    background-color: #0088A9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    height: 50rem;
    border-radius: 0 2rem 2rem 0;
}

.desctxt p {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 4rem;
    margin-right: 4rem;
}

/* This is the footer section */

footer {
    position: relative;
    width: 100%;
    height: 48rem;
    background-color: #0088A9;
}

.contactme {
    width: 100%;
    height: 2srem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactme h3 {
    font-size: 3rem;
    margin-top: 1rem;
}

.contactme p {
    font-size: 1.5rem;
}

.formcontent {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer form {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.email {
    align-self: center;
    border-radius: 3.125rem;
    width: 20rem;
    padding: 0.5rem;
    background-color: #edf0f1;
}

.txt {
    padding: 10rem;
    width: 50rem;
    border-radius: 3.125rem;
    background-color: #edf0f1;
}

.submit {
    position: relative;
    bottom: 2rem;
    align-items: center;
    border-radius: 3.125rem;
    background-color: #edf0f1;
    width: 8rem;
    padding: 1rem;
    background-color: rgba(36, 37, 42, 1);
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

.submit:hover {
    background-color: rgba(36, 37, 42, 0.6);
}

@media only screen and (max-width: 1920px) {
    html {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        overflow-x: hidden;
        background-color: #24252A;
    }
}

@media only screen and (orientation: portrait) {
    html {
        font-size: 8px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        overflow-x: hidden;
        background-color: #24252A;
    }
}