{% extends "layout.html" %} {% block navigation %}
<!-- JAVASCRIPT -->
<script src="../static/javascript/nav.js" defer></script>
<script src="../static/javascript/animation.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- NAVIGATION -->
<header class="nav-container">
    <nav id="navbar" class="nav-body">
        <ul class="nav-contact">
            <li>
                <i class="fa fa-solid fa-comment text-primary"></i>
            </li>
            <li>
                <a href="#contact"><p>Contact Me</p></a>
            </li>
        </ul>
        <ul class="nav-navigation">
            <li>
                <a href="#front-page"><p>Home</p></a>
            </li>
            <li>
                <a href="#skills"><p>Skills</p></a>
            </li>
            <li>
                <a href="#project"><p>Projects</p></a>
            </li>
            <li>
                <a href="#blog"><p>Blog</p></a>
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <a href="https://www.linkedin.com/in/dominic-odonnell/" target="_blank"
                    ><i class="fa fa-brands fa-linkedin"></i
                ></a>
            </li>
            <li>
                <a href="https://github.com/Dominicod" target="_blank"
                    ><i class="fa fa-brands fa-github"></i
                ></a>
            </li>
        </ul>
        <div class="hamburger">
            <i id="hamburger-icon" class="hamburger-icon fa fa-solid fa-bars"></i>
            <div id="hamburger-container" class="hamburger-container">
                <ul class="hamburger-links">
                    <li>
                        <a href="#front-page"><p>Home</p></a>
                    </li>
                    <li>
                        <a href="#skills"><p>Skills</p></a>
                    </li>
                    <li>
                        <a href="#project"><p>Projects</p></a>
                    </li>
                    <li>
                        <a href="#blog"><p>Blog</p></a>
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/dominic-odonnell/"
                            target="_blank"
                            ><i class="fa fa-brands fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/Dominicod" target="_blank"
                            ><i class="fa fa-brands fa-github"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %} {% block frontpage %}
<!-- FRONT-PAGE -->
<section id="front-page" class="front-page-color">
    <div class="container front-page">
        <div class="fp-left appear">
            <div class="frontpage-hello">
                <div class="hello-line"></div>
                <p>Hello!</p>
            </div>
            <h1>
                I'm
                <span style="color: var(--color-secondary)">Dominic</span>
                O'Donnell
            </h1>
            <p class="frontpage-txt">
                <span style="color: var(--color-primary)">Software Developer</span>
                who is a
                <span style="color: var(--color-secondary)">lifelong learner</span>, that has a passion for
helping people and creating an impact. I aim to increase my impact on the world as a software
developer by creating amazing applications that let me help people of all types while fulfilling my
desire to learn.
            </p>
            <a
                class="frontpage-btn button"
                href="../static/img/Dominicsresume.pdf"
                target="_blank"
                download
                >Hire Me! (Download CV)</a
            >
        </div>
        <div class="fp-right appear">
            <div class="image"></div>
        </div>
        <!-- BACKGROUND CIRCLES 1 -->
        <div class="mobile-Circle circle-FP-1"></div>
        <div class="mobile-Circle circle-FP-2"></div>
        <div class="mobile-Circle circle-FP-3"></div>
    </div>
    <!-- CURVE -->
    <div class="curve-FP">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
</section>

{% endblock %} {% block skills %}
<!-- SKILLS -->
<section id="skills" class="skills-page-color">
    <div class="container page">
        <header class="desc-header appear">
            <h2>Skills</h2>
            <div class="desc">
                <p>
                    I have over a year an a half of experience building reliable and fast web
                    applications for personal projects and clients. Below is a quick overview of my
                    main technical skills that I use.
                </p>
            </div>
        </header>
        <div class="page-container">
            <div class="skill-card-container appear">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-laptop-code"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Languages</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Ruby</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Python</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">JavaScript</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skill-card-container appear">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-database"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Frameworks</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Ruby on Rails</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Flask</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skill-card-container appear">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-toolbox"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Tools</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Docker</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">PostgreSQL</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Linux, Bash, Git</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Apache, Heroku</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">HTML, CSS, Sass, Bootstrap</p>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="skill-card-container appear">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-regular fa-address-card"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Soft Skills</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Communication</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Teamwork orientated</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Confidence</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Time management</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Leadership</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skill-card-container appear">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-brain"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Other</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">TDD</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Agile</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">OOP</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">RESTful Development</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block projects %}
<!-- PROJECTS -->
<section id="project" class="project-page-color">
    <!-- CURVE -->
    <div class="curve-PRJ">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
    <div class="container page">
        <header class="desc-header text-white appear">
            <h2>Projects</h2>
            <div class="desc text-white">
                <p>
                    Below is projects I have either completely designed from development to
                    production or projects I have contributed heavily, and will highlight those
                    contributions.
                </p>
            </div>
        </header>
        <div class="page-container">
            <div class="project-card-container appear">
                <div class="project-card">
                    <div class="prj-img relational-img"></div>
                    <h3 class="text-primary">Relational Rails</h3>
                    <h4 class="text-primary">Solo Project | 6 Day Timeline</h4>
                    <p class="text-white">
                        This project is created to learn how to design a one to many relationship schema, create web pages that allow users CRUD resources, create instance and class methods on a Rails model that uses ActiveRecord, and write model and feature tests.
                    </p>
                    <div class="prj-buttons">
                        <a class="text-git" href="https://github.com/Dominicod/dlorg" target="_blank">Source Code</a>
                    </div>
                    <div class="prj-skill-used text-white">
                        <span>Ruby on Rails</span>
                        <span>RSpec</span>
                        <span>SimpleCov</span>
                        <span>Bootstrap</span>
                    </div>
                </div>
            </div>
            <div class="project-card-container appear">
                <div class="project-card">
                    <div class="prj-img enigma-img"></div>
                    <h3 class="text-primary">Enigma</h3>
                    <h4 class="text-primary">Solo Project | 6 Day Timeline</h4>
                    <p class="text-white">
                        In this project I used Ruby and TDD to build an algorithm to encrypt a word or sentence using a caesar cipher that took in the arguments of; message, date, key.
                        I also included the ability to decrypt this encrypted message or word.
                    </p>
                    <div class="prj-buttons">
                        <a class="text-git" href="https://github.com/Dominicod/enigma" target="_blank">Source Code</a>
                    </div>
                    <div class="prj-skill-used text-white">
                        <span>Ruby</span>
                        <span>RSpec</span>
                        <span>SimpleCov</span>
                    </div>
                </div>
            </div>
            <div class="project-card-container appear">
                <div class="project-card">
                    <div class="prj-img portfolio-img"></div>
                    <h3 class="text-primary">My Portfolio</h3>
                    <h4 class="text-primary">Solo Project | 2 Week Timeline</h4>
                    <p class="text-white">
                        Designed to showcase all my skills and projects within a single consolidated
                        domain. For this project, I learned to arrange the files for code
                        readability and optimization. I also focused on mobile responsiveness, which
                        I succeeded in.
                    </p>
                    <div class="prj-buttons">
                        <a class="text-secondary" href="/webApp/static" target="_blank">Live Demo!</a>
                        <a class="text-git" href="https://github.com/Dominicod/Portfolio" target="_blank">Source Code</a>
                    </div>
                    <div class="prj-skill-used text-white">
                        <span>Flask</span>
                        <span>Sass</span>
                        <span>Javascript</span>
                        <span>Apache</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- BACKGROUND CIRCLES 2 -->
        <div class="mobile-Circle circle-Prj-1"></div>
        <div class="mobile-Circle circle-Prj-2"></div>
        <div class="mobile-Circle circle-Prj-3"></div>
        <div class="mobile-Circle circle-Prj-4"></div>
    </div>
    <!-- CURVE -->
    <div class="curve-BLOG">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
</section>

{% endblock %} {% block blog %}
<!-- BLOG -->
<section id="blog" class="blog-page-color">
    <div class="container page">
        <header class="desc-header text-black appear">
            <h2>Blog</h2>
            <div class="desc text-black">
                <p>
                    I also write a blog! I write about all types of tech related content. A list of
                    what I write about includes; Programming, Video games, Networking, and more. I
                    love teaching technology and helping others along their path.
                </p>
            </div>
        </header>
        <div class="page-container">
            <div class="blog-card appear">
                <a href="https://blog.dominwrites.com/programming/the-four-pillars-of-object-orientated-programming/">The Four Pillars of Object-Orientated Programming </a>
                <div class="blog-time">
                    <i class="text-secondary fa fa-solid fa-clock"></i>
                    <p class="text-secondary">August 10th, 2022</p>
                </div>
                <p class="text-white blog-desc">
                    What are the four pillars? The four pillars of OOP (Object Orientated Programming) are software design principles that programmers follow to write clean object orientated code. The four pillars are: Inheritance Abstraction Polymorphism Encapsulation   An example of a language that uses OOP Principles like these is Ruby. This is the main language I currently write in, and often find...<a style="font-size: 1rem;" href="https://blog.dominwrites.com/programming/the-four-pillars-of-object-orientated-programming/">(Read More)</a>
                </p>
            </div>
            <div class="blog-card appear">
                <a href="https://blog.dominwrites.com/programming/ruby-fundamentals/">Ruby Fundamentals</a>
                <div class="blog-time">
                    <i class="text-secondary fa fa-solid fa-clock"></i>
                    <p class="text-secondary">July 17th, 2022</p>
                </div>
                <p class="text-white blog-desc">
                    What we will be going over Today I will be sharing what I have learned about Ruby in the past few weeks with the goal to hopefully help you become a better programmer. I will be giving brief explainations and examples about the following concepts; Variables Datatypes (Strings, umbers, Booleans, Symbols) Arrays Hashes This may seem like a long list...<a style="font-size: 1rem;" href="https://blog.dominwrites.com/programming/ruby-fundamentals/">(Read More)</a>
                </p>
            </div>
            <div class="blog-card appear">
                <a href="https://blog.dominwrites.com/programming/ruby-operators/">Ruby Operators</a>
                <div class="blog-time">
                    <i class="text-secondary fa fa-solid fa-clock"></i>
                    <p class="text-secondary">July 22th, 2022</p>
                </div>
                <p class="text-white blog-desc">
                    Ruby supports many types of operators, which makes developers lives easier. This makes writing code easier as it allows ruby developers to use a lot of shorthand which allows developers to condense code, and increase readability. Ruby operators are also very interesting as they are all actually methods, which allows us to reassign each operator if need be. Ruby Logical...<a style="font-size: 1rem;" href="https://blog.dominwrites.com/programming/ruby-operators/">(Read More)</a>
                </p>
            </div>
            <div class="blog-card appear">
                <a href="https://blog.dominwrites.com/programming/version_control/">Version Control, and why its important</a>
                <div class="blog-time">
                    <i class="text-secondary fa fa-solid fa-clock"></i>
                    <p class="text-secondary">July 10th, 2022</p>
                </div>
                <p class="text-white blog-desc">
                    About Version Control Systems (VCS) Version control, in essence, is a log or history of changes to a code-base over time. This allows developers access to older versions of a code-base backed up in-case the developer wishes to revert the current code-base to an older version, share the file easily with other developers, compare changes over time, or possibly to...<a style="font-size: 1rem;" href="https://blog.dominwrites.com/programming/version_control/">(Read More)</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block contact %}
<!-- CONTACT -->
<section id="contact" class="contact-page-color">
    <!-- CURVE -->
    <div class="curve-CNT">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
    <div class="container page">
        <header class="desc-header text-white appear">
            <h2>Contact</h2>
            <div class="desc text-white">
                <p>
                    I am looking for opportunities to work on meaningful projects in a team of friendly and intelligent people. Likewise, I want to improve my skills, grow as a developer, and build some cool stuff with you! If you're interested in working with me, shoot me an email below! 
                </p>
            </div>
        </header>
        <div class="flashed-contact appear">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li class="message_flash">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
        <div class="page-container">
            <form id="contact-form" action="/contacted" method="POST">
                <div class="cnt-left appear">
                    <label class="text-primary" for="name">Name:</label>
                    <input name="name" type="text" required />
                    <label class="text-primary" for="name">Email:</label>
                    <input name="email" type="email" required />
                    <label class="text-primary" for="name">Company/Organization:</label>
                    <input name="company" type="text" required />
                    <div class="text-white contact-links">
                        <a
                            href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"
                            target="_blank"
                            ><i class="text-white fa fa-brands fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/Dominicod" target="_blank"
                            ><i class="text-white fa fa-brands fa-github"></i
                        ></a>
                    </div>
                </div>
                <div class="cnt-right appear">
                    <label class="text-primary" for="name">Message:</label>

                    <textarea id="text" name="text" type="text" required></textarea>

                    <div class="g-recaptcha" data-sitekey="6Lc9_HsgAAAAAEdmQ8nD1a2zpYxfCk8Ia-YEyUZS"></div>

                    <button class="button" type="submit"">Submit</button>

                </div>
            </form>
        </div>
    </div>
    <!-- BACKGROUND CIRCLES 2 -->
    <div class="mobile-Circle circle-Cnt-1"></div>
    <div class="mobile-Circle circle-Cnt-2"></div>
    <div class="mobile-Circle circle-Cnt-3"></div>
    <div class="mobile-Circle circle-Cnt-4"></div>
</section>

<!-- FOOTER -->
{% endblock %} {% block footer %}
<footer>
    <p class="text-black created">Created with: JS/Sass/Flask</p>
    <p class="text-black credit">
        @ 2022 Website made by
        <a
            class="text-black"
            href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"
            target="_blank"
            >Dominic O'Donnell</a
        >
    </p>
    <div class="text-black">
        <a href="https://www.linkedin.com/in/dominic-odonnell/" target="_blank"
            ><i class="fa fa-brands fa-linkedin"></i
        ></a>
        <a href="https://github.com/Dominicod" target="_blank"
            ><i class="fa fa-brands fa-github"></i
        ></a>
    </div>
</footer>
{% endblock %}
