<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Styles + Font-awesome -->
        <link rel="stylesheet" href="../static/styles/app.css" />
        <script src="https://kit.fontawesome.com/39359afa97.js" crossorigin="anonymous"></script>
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="../static/img/favicon_io/site.webmanifest">
        <title>{{ title }}</title>
    </head>
        {% block navigation %} {% endblock %}
    <body>
        <!-- MAIN CONTENT -->
        <main>
            {% block frontpage %} {% endblock %} 
            {% block skills %} {% endblock %} 
            {% block projects %} {% endblock %} 
            {% block blog %} {% endblock %} 
            {% block contact %} {% endblock %}
            {% block contacted %} {% endblock %}
        </main>
    </body>
    {% block footer %} {% endblock %}
</html>
