@import '../abstracts/_mixins/size';
@import '../abstracts/_placeholders/card';
@import '../abstracts/_placeholders/flexbox';

/* PROJECT STYLES

======================== */

.project-page-color {
    background-color: var(--color-grey-1);
    position: relative;
    overflow: hidden;
    z-index: 2;
}

/* CURVE TO BLEND PAGES 

##################### */

.curve-PRJ {
    @extend %curve;
    z-index: 2;
}

.curve-PRJ svg {
    @extend %curveSVG;
    @include size(94px, calc(157% + 1.3px));
}

.curve-PRJ .shape-fill {
    fill: var(--color-secondary);
}
.curve-BLOG {
    @extend %curve;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.curve-BLOG svg {
    @extend %curveSVG;
    @include size(100px, calc(120% + 1.3px));
}

.curve-BLOG .shape-fill {
    fill: var(--color-primary);
}

/* ################## */

.project-card {
    @extend %card;
    @include size(450px, 450px);
    margin-top: 2rem;
    background-color: var(--color-grey-2);
    overflow: hidden;
}
.project-card-container {
    position: relative;
}
.prj-img {
    width: 100%;
    height: 185px;
    background-color: var(--color-primary);
    border-radius: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dlorg-img {
    background-image: url(../../../../static/img/project-img/dlorg.png);
}
.pool-img {
    background-image: url(../../../../static/img/project-img/pool.png);
}
.portfolio-img {
    background-image: url(../../../../static/img/project-img/portfolio.png);
}
.project-card h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.3rem;
}
.project-card p {
    padding: 0.5rem;
    font-weight: 400;
}
.project-card a {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 0.5rem;
}
.prj-skill-used {
    @extend %justify-start-align-center;
    margin: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-weight: 400;
}
.prj-skill-used span {
    background-color: var(--color-grey-1);
    padding: 0.2rem 0.5rem;
    border-radius: var(--border-radius-1);
}
.prj-git-img {
    @extend %justify-center-align-center;
    position: absolute;
    font-size: 2rem;
}
.prj-gitlink {
    @extend %justify-center-align-center;
    position: absolute;
    left: 25.5rem;
    top: 1.5rem;
    background-color: var(--color-grey-1);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.prj-git-img a {
    color: #ff9900;
}
