/* SCREENS UNDER 1150PX

================================= */

@media only screen and (max-width: 1150px) {
    /* Sets all containers to column. */
    .page-container {
        flex-direction: column;
    }
    .page-container form {
        flex-direction: column;
    }

    /* Sets width between blog-cards */

    .blog-card {
        margin: 1rem;
    }
    /* Sets new widths and positions for cards */

    .project-card, .blog-card {
        width: 400px;
    }
    .contact-container form input {
        width: 100%;
    }
    .prj-gitlink {
        left: 22.5rem;
    }
    .cnt-right, .cnt-right textarea {
        margin: 0;
        width: 100%;
    }
    .cnt-right button {
        align-self: center;
    }

    /* REMOVAL MOBILE */

    /* Removes all circles from display */

    .mobile-Circle {
        display: none;
    }
    /* Removes traditional navigation */

    .nav-navigation {
        display: none;
    }

    /* Removes contact links */

    .contact-links {
        display: none;
    }

    /* Removes hero-image */

    .fp-right {
        display: none;
    }

    /* Removes footer created txt */

    .created {
        display: none;
    }
}

/* SCREENS UNDER 400PX

================================= */

@media only screen and (max-width: 400px) {
    main {
        margin-top: 0.5rem;
    }
    .nav-body {
        top: 0.5rem;
    }
    .project-card, .blog-card {
        width: 350px;
    }
    .prj-gitlink {
        left: 19.5rem;
    }
}
