@import "../abstracts/_mixins/size";
@import "../abstracts/_placeholders/card";

.skills-page-color {
    background-color: var(--color-secondary);
    position: relative;
    z-index: 2;
}
.skill-card {
    @extend %card;
    @include size(350px, 350px);
    margin-top: 5rem;
    background-color: var(--color-grey-1);
}
.desc {
    display: flex;
    justify-content: center;
    width: 75%;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}
.desc p {
    font-weight: 400;
    width: 75%;
    text-align: center;
}
.skill-card-container {
    position: relative;
}
.skill-img {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: var(--color-grey-1);
}
.skill-img-background {
    position: absolute;
    left: 7.5rem;
    bottom: 18.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.skill-card h3 {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: var(--letter-space-1);
    font-weight: 400;
}
.skill-card ul {
    padding: 2rem;
}
.skill-card ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}
