:root {
    --color-primary: #77b6ea;
    --color-secondary: #93e5ab;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey-1: #272838;
    --color-grey-2: #37393a;
    --box-shadow-1: -10px 10px 10px rgba(0, 0, 0, 0.35);
    --border-radius-1: 5px;
    --letter-space-1: 0.1rem;
}
