{% extends "layout.html" %} {% block navigation %}
<!-- JAVASCRIPT -->
<script src="../static/javascript/nav.js" defer></script>
<!-- NAVIGATION -->
<header class="nav-container">
    <nav id="navbar" class="nav-body">
        <ul class="nav-contact">
            <li>
                <i class="fa fa-solid fa-comment text-primary"></i>
            </li>
            <li>
                <a href="#contact"><p>Contact Me</p></a>
            </li>
        </ul>
        <ul class="nav-navigation">
            <li>
                <a href="#front-page"><p>Home</p></a>
            </li>
            <li>
                <a href="#skills"><p>Skills</p></a>
            </li>
            <li>
                <a href="#project"><p>Projects</p></a>
            </li>
            <li>
                <a href="#blog"><p>Blog</p></a>
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <a href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/" target="_blank"
                    ><i class="fa fa-brands fa-linkedin"></i
                ></a>
            </li>
            <li>
                <a href="https://github.com/Dominicod" target="_blank"
                    ><i class="fa fa-brands fa-github"></i
                ></a>
            </li>
        </ul>
        <div class="hamburger">
            <i id="hamburger-icon" class="hamburger-icon fa fa-solid fa-bars"></i>
            <div id="hamburger-container" class="hamburger-container">
                <ul class="hamburger-links">
                    <li>
                        <a href="#front-page"><p>Home</p></a>
                    </li>
                    <li>
                        <a href="#skills"><p>Skills</p></a>
                    </li>
                    <li>
                        <a href="#project"><p>Projects</p></a>
                    </li>
                    <li>
                        <a href="#blog"><p>Blog</p></a>
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"
                            target="_blank"
                            ><i class="fa fa-brands fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/Dominicod" target="_blank"
                            ><i class="fa fa-brands fa-github"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %} {% block frontpage %}
<!-- FRONT-PAGE -->
<section id="front-page" class="front-page-color">
    <div class="container front-page">
        <div class="fp-left">
            <div class="frontpage-hello">
                <div class="hello-line"></div>
                <p>Hello!</p>
            </div>
            <h1>
                I'm
                <span style="color: var(--color-secondary)">Dominic</span>
                O'Donnell
            </h1>
            <p class="frontpage-txt">
                I am a
                <span style="color: var(--color-primary)">software engineer</span>
                specialising in
                <span style="color: var(--color-secondary)">back-end web technologies</span>. I have
                always been a student and I am passionate about technology. I love solving complex
                problems and thrive in a collaborative team environment.
            </p>
            <a
                class="frontpage-btn button"
                href="../static/img/Dominic's Resume.pdf"
                target="_blank"
                download
                >Hire Me! (Download CV)</a
            >
        </div>
        <div class="fp-right">
            <div class="image"></div>
        </div>
        <!-- BACKGROUND CIRCLES 1 -->
        <div class="mobile-Circle circle-FP-1"></div>
        <div class="mobile-Circle circle-FP-2"></div>
        <div class="mobile-Circle circle-FP-3"></div>
    </div>
    <!-- CURVE -->
    <div class="curve-FP">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
</section>

{% endblock %} {% block skills %}
<!-- SKILLS -->
<section id="skills" class="skills-page-color">
    <div class="container page">
        <header class="desc-header">
            <h2>Skills</h2>
            <div class="desc">
                <p>
                    I have over a year an a half of experience building reliable and fast web
                    applications for personal projects and clients. Below is a quick overview of my
                    main technical skills that I use.
                </p>
            </div>
        </header>
        <div class="page-container">
            <div class="skill-card-container">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-laptop-code"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Frontend</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Javascript</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Bootstrap</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">HTML/CSS/SASS</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">UI/UX Design in Figma</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skill-card-container">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-database"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Backend</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Python/Flask</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Ruby/Rails</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">PostgresSQL/MySQL/SQLite3</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skill-card-container">
                <div class="skill-img-background">
                    <div class="skill-img">
                        <i class="fa fa-solid fa-toolbox"></i>
                    </div>
                </div>
                <div class="skill-card">
                    <h3 class="text-white">Tools</h3>
                    <ul class="skills">
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Linux</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Apache/Docker</p>
                        </li>
                        <li>
                            <i class="text-primary fa fa-solid fa-check"></i>
                            <p class="text-white">Bash/Zsh/PowerShell/Git</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block projects %}
<!-- PROJECTS -->
<section id="project" class="project-page-color">
    <!-- CURVE -->
    <div class="curve-PRJ">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
    <div class="container page">
        <header class="desc-header text-white">
            <h2>Projects</h2>
            <div class="desc text-white">
                <p>
                    Below is projects I have either completely designed from development to
                    production or projects I have contributed heavily and will highlight those
                    contributions.
                </p>
            </div>
        </header>
        <div class="page-container">
            <div class="project-card-container">
                <div class="prj-gitlink">
                    <div class="prj-git-img">
                        <a href="https://github.com/Dominicod/dlorg" target="_blank"
                            ><i class="fa fa-brands fa-github"></i
                        ></a>
                    </div>
                </div>
                <div class="project-card">
                    <div class="prj-img dlorg-img"></div>
                    <h3 class="text-primary">dlorg</h3>
                    <p class="text-white">
                        This program is designed to organize your downloads folder into
                        subdirectories allowing the user to edit each extension and create new
                        subdirectories to allow for ease of use. Compatible with most Linux distros
                        and MacOS (Monterey)
                    </p>
                    <a
                        class="text-secondary"
                        href="https://github.com/Dominicod/dlorg"
                        target="_blank"
                        >Check it out!</a
                    >
                    <div class="prj-skill-used text-white">
                        <span>Bash</span>
                    </div>
                </div>
            </div>
            <div class="project-card-container">
                <div class="prj-gitlink">
                    <div class="prj-git-img">
                        <a href="https://github.com/Dominicod/delawarepoolservices" target="_blank"
                            ><i class="fa fa-brands fa-github"></i
                        ></a>
                    </div>
                </div>
                <div class="project-card">
                    <div class="prj-img pool-img"></div>
                    <h3 class="text-primary">Delaware Pool Service</h3>
                    <p class="text-white">
                        Designed for a customer located within Delaware. This project had a
                        three-day deadline due to the client's haste to launch a product for the
                        beginning of summer. I learned a great deal about project scope,
                        communicating and defining expectations.
                    </p>
                    <a class="text-secondary" href="https://delawarepoolservice.com" target="_blank"
                        >Check it out!</a
                    >
                    <div class="prj-skill-used text-white">
                        <span>PHP</span>
                        <span>Bootstrap</span>
                    </div>
                </div>
            </div>
            <div class="project-card-container">
                <div class="prj-gitlink">
                    <div class="prj-git-img">
                        <a href="https://github.com/Dominicod/Portfolio" target="_blank"
                            ><i class="fa fa-brands fa-github"></i
                        ></a>
                    </div>
                </div>
                <div class="project-card">
                    <div class="prj-img portfolio-img"></div>
                    <h3 class="text-primary">My Portfolio</h3>
                    <p class="text-white">
                        Designed to showcase all my skills and projects within a single consolidated
                        domain. For this project, I learned to arrange the files for code
                        readability and optimization. I also focused on mobile responsiveness, which
                        I succeeded in.
                    </p>
                    <a class="text-secondary" href="/" target="_blank">Check it out!</a>
                    <div class="prj-skill-used text-white">
                        <span>Python/Flask</span>
                        <span>SCSS</span>
                        <span>Figma</span>
                        <span>Javascript</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- BACKGROUND CIRCLES 2 -->
        <div class="mobile-Circle circle-Prj-1"></div>
        <div class="mobile-Circle circle-Prj-2"></div>
        <div class="mobile-Circle circle-Prj-3"></div>
        <div class="mobile-Circle circle-Prj-4"></div>
    </div>
    <!-- CURVE -->
    <div class="curve-BLOG">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
</section>

{% endblock %} {% block blog %}
<!-- BLOG -->
<section id="blog" class="blog-page-color">
    <div class="container page">
        <header class="desc-header text-black">
            <h2>Blog</h2>
            <div class="desc text-black">
                <p>
                    I also write a blog! I write about all types of tech related content. A list of
                    what I write about includes; Programming, Video games, Networking, and more. I
                    love teaching technology and helping others along their path.
                </p>
            </div>
        </header>
        <div class="page-container">
            <div class="blog-card">
                <div class="blog-img">Blog Thumbnail</div>
                <a href="#">Blog Title</a>
                <div class="blog-time">
                    <i class="text-secondary fa fa-solid fa-clock"></i>
                    <p class="text-secondary">May 7, 2022</p>
                </div>
                <p class="text-white blog-desc">
                    Intro is put here..ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum.
                </p>
            </div>
            <div class="blog-card">
                <div class="blog-img">Blog Thumbnail</div>
                <a href="#">Blog Title</a>
                <div class="blog-time">
                    <i class="text-secondary fa fa-solid fa-clock"></i>
                    <p class="text-secondary">May 7, 2022</p>
                </div>
                <p class="text-white blog-desc">
                    Intro is put here..ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block contact %}
<!-- CONTACT -->
<section id="contact" class="contact-page-color">
    <!-- CURVE -->
    <div class="curve-CNT">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
            ></path>
        </svg>
    </div>
    <div class="container page">
        <header class="desc-header text-white">
            <h2>Contact</h2>
            <div class="desc text-white">
                <p>
                    I am looking for opportunities to work on meaningful projects in a team of
                    friendly and intelligent people, improve my skills, grow as a developer, and
                    build some cool stuff with you! If you're interested in working with me, shoot
                    me an email below!
                </p>
            </div>
        </header>
        <div class="flashed-contact">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li class="message_flash">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
        <div class="page-container">
            <form action="/contacted" method="POST">
                <div class="cnt-left">
                    <label class="text-primary" for="name">Name:</label>
                    <input name="name" type="text" required />
                    <label class="text-primary" for="name">Email:</label>
                    <input name="email" type="email" required />
                    <label class="text-primary" for="name">Company/Organization:</label>
                    <input name="company" type="text" required />
                    <div class="text-white contact-links">
                        <a
                            href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"
                            target="_blank"
                            ><i class="text-white fa fa-brands fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/Dominicod" target="_blank"
                            ><i class="text-white fa fa-brands fa-github"></i
                        ></a>
                    </div>
                </div>
                <div class="cnt-right">
                    <label class="text-primary" for="name">Message:</label>

                    <textarea id="text" name="text" type="text" required></textarea>

                    <button class="button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- BACKGROUND CIRCLES 2 -->
    <div class="mobile-Circle circle-Cnt-1"></div>
    <div class="mobile-Circle circle-Cnt-2"></div>
    <div class="mobile-Circle circle-Cnt-3"></div>
    <div class="mobile-Circle circle-Cnt-4"></div>
</section>

<!-- FOOTER -->
{% endblock %} {% block footer %}
<footer>
    <p class="text-black created">Created with: JS/SASS/Flask</p>
    <p class="text-black credit">
        @ 2022 Website made by
        <a
            class="text-black"
            href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"
            target="_blank"
            >Dominic O'Donnell</a
        >
    </p>
    <div class="text-black">
        <a href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/" target="_blank"
            ><i class="fa fa-brands fa-linkedin"></i
        ></a>
        <a href="https://github.com/Dominicod" target="_blank"
            ><i class="fa fa-brands fa-github"></i
        ></a>
    </div>
</footer>
{% endblock %}
