<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Styles + Font-awesome -->
        <link rel="stylesheet" href="../static/styles/app.css" />
        <script src="https://kit.fontawesome.com/39359afa97.js" crossorigin="anonymous"></script>
        <!-- Javascript -->
        <script src="../static/javascript/nav.js" defer></script>
        <title>Portfolio</title>
    </head>
    <body>
        {% block navigation %} {% endblock %}
        <!-- MAIN CONTENT -->
        <main>
            {% block frontpage %} {% endblock %} 
            {% block skills %} {% endblock %} 
            {% block projects %} {% endblock %} 
            {% block blog %} {% endblock %} 
            {% block contact %} {% endblock %}
        </main>
    </body>
    <footer>
        <p class="text-black created">Created with: SASS/Flask</p>
        <p class="text-black credit">
            @ 2022 Website made by
            <a
                class="text-black"
                href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/"
                target="_blank"
                >Dominic O'Donnell</a
            >
        </p>
        <div class="text-black">
            <a href="https://www.linkedin.com/in/dominic-o-donnell-6a689017a/" target="_blank"
                ><i class="fa fa-brands fa-linkedin"></i
            ></a>
            <a href="https://github.com/Dominicod" target="_blank"
                ><i class="fa fa-brands fa-github"></i
            ></a>
        </div>
    </footer>
</html>
