/* CIRCLE STYLES

======================== */

%circle {
    overflow: hidden;
    position: absolute;
    opacity: 10%;
}
%circle-translated {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 100%;
}
