/* CURVE BETWEEN PAGES STYLES

======================== */

%curve {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

%curveSVG {
    position: relative;
    display: block;
}
