/* FLASK FLASH

======================== */

.flashed-contact {
    ul {
        li {
            color: red;
            font-weight: 500;
            margin: 1rem;
            font-size: 1.1rem;
        }
    }
}
