@import '../abstracts/_placeholders/flexbox';

/* FOOTER STYLES

======================== */

footer {
    @extend %justify-between-align-center;
    padding: 0.5rem;
    background-color: var(--color-secondary);
    font-weight: 400;
}
footer p {
    width: 400px;
}

footer p a {
    text-decoration: underline;
}

footer div {
    @extend %justify-end-align-center;
    width: 400px;
    gap: 0.5rem;
}

footer div a {
    color: var(--color-black);
    font-size: 1.2rem;
}
