@import '../abstracts/_placeholders/flexbox';

/* HEADER STYLES

======================== */

.desc-header {
    @extend %justify-center-align-center;
    flex-direction: column;
    width: 100%;
}
.desc-header h2 {
    font-size: 3rem;
    letter-spacing: var(--letter-space-1);
    font-weight: 500;
}
