@import '../abstracts/_placeholders/flexbox';

/* Traditional navigation 

####################### */

.nav-container {
    width: 100%;
    @extend %justify-center-align-center;
}
.nav-body {
    @extend %justify-between-align-center;
    flex-direction: row;
    max-width: 1480px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 0.75rem 40px;
    background-color: var(--color-grey-1);
    border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
    font-size: 1.2rem;
    transition: 0.5s;
}
.nav-contact {
    @extend %justify-start-align-center;
    gap: 0.5rem;
    width: 140px;
}
.nav-navigation {
    @extend %justify-center-align-center;
    gap: 3rem;
}
.nav-links {
    @extend %justify-end-align-center;
    gap: 0.5rem;
    width: 140px;
}
nav a {
    transition: color 500ms ease-in-out;
    color: var(--color-white);
}
nav a:hover {
    transition: color 500ms ease-in-out;
    color: var(--color-primary);
}

/* Hamburger navigation 

####################### */

.hamburger {
    display: none;
}
.hamburger-icon {
    color: var(--color-white);
    cursor: pointer;
}
.hamburger-container {
    position: fixed;
    background-color: var(--color-grey-1);
    border-radius: var(--border-radius-1);
    padding: 1rem;
    right: -7rem;
    transition: 0.5s;
}
.hamburger-links {
    @extend %justify-center-align-center;
    flex-direction: column;
    gap: 0.5rem;
}
