@import '../abstracts/_placeholders/flexbox';

/* PAGE STYLES

======================== */

.page {
    @extend %justify-center-align-center;
    flex-direction: column;
    height: auto;
    padding: 3rem 0 5rem 0;
    width: 100%;
}
.page-container {
    @extend %justify-center-align-center;
    padding: 1rem 0;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.313rem;
    z-index: 1;
}
