@import '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* BOILERPLATE

======================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
.text-white {
    color: var(--color-white);
}
.text-primary {
    color: var(--color-primary);
}
.text-secondary {
    color: var(--color-secondary);
}
.text-black {
    color: var(--color-black);
}
.text-git {
    color: #ff9900;
}
body {
    background-color: var(--color-grey-1);
    font-family: Poppins, sans-serif;
    font-weight: 300;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}
.appear {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.appear.inview {
    transform: translateY(0);
    opacity: 1;
}