@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
    --color-primary: #77b6ea;
    --color-secondary: #93e5ab;
    --color-primary-faded: rgba(119, 182, 234, 0.1);
    --color-secondary-faded: rgba(147, 229, 171, 0.1);
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey-1: #272838;
    --color-grey-2: #37393a;
    --box-shadow-1: -10px 10px 10px rgba(0, 0, 0, 0.35);
    --border-radius-1: 5px;
    --letter-space-1: 0.1rem;
}
.text-white {
    color: var(--color-white);
}
.text-primary {
    color: var(--color-primary);
}
.text-secondary {
    color: var(--color-secondary);
}
.text-black {
    color: var(--color-black);
}
body {
    background-color: var(--color-grey-1);
    font-family: Poppins, sans-serif;
    font-weight: 200;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}

// Navbar

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-body {
    max-width: 1480px;
    position: fixed;
    top: 2rem;
    z-index: 2;
    width: 100%;
    padding: 0 40px;
}
nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.nav-contact {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    width: 140px;
}
.nav-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    width: 140px;
}
nav a {
    color: var(--color-white);
}

// Front Page

.front-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.front-page-color {
    background-color: var(--color-grey-1);
}
.fp-left {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.frontpage-hello {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.hello-line {
    width: 37.05px;
    height: 0px;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-1);
}
.frontpage-hello p {
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: 400;
    letter-spacing: var(--letter-space-1);
}
h1 {
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 400;
}
.frontpage-txt {
    color: var(--color-white);
    font-weight: 400;
    max-width: 800px;
}
.frontpage-btn {
    margin-top: 4rem;
    color: var(--color-black);
    border-radius: var(--border-radius-1);
    background-color: var(--color-primary);
    padding: 0.5rem;
    width: 14rem;
    font-weight: 500;
    text-align: center;
}
.image {
    background-image: url(../img/Temp-IMG.png);
    height: 100vh;
    width: 40rem;
    background-repeat: no-repeat;
    background-position: bottom;
}

// Skills Page

.second-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem 0 5rem 0;
    width: 100%;
}
.second-page-color {
    background-color: var(--color-secondary);
}
.desc-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.desc-header h2 {
    font-size: 3rem;
    letter-spacing: var(--letter-space-1);
    font-weight: 500;
}
.desc {
    display: flex;
    justify-content: center;
    width: 75%;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}
.desc p {
    font-weight: 400;
    width: 75%;
    text-align: center;
}
.skills-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 2.313rem;
}
.skill-card {
    margin-top: 5rem;
    background-color: var(--color-grey-1);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-1);
}
.skill-card-container {
    position: relative;
}
.skill-img {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: var(--color-grey-1);
}
.skill-img-background {
    position: absolute;
    left: 7.5rem;
    bottom: 18.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.skill-card h3 {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: var(--letter-space-1);
    font-weight: 400;
}
.skill-card ul {
    padding: 2rem;
}
.skill-card ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

// Projects

.third-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem 0 5rem 0;
    width: 100%;
}
.third-page-color {
    background-color: var(--color-grey-1);
    position: relative;
}
.project-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.313rem;
    z-index: 1;
}
.project-card {
    margin-top: 2rem;
    background-color: var(--color-grey-2);
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-1);
}
.project-card-container {
    position: relative;
}
.prj-img {
    width: 100%;
    height: 225px;
    background-color: var(--color-primary);
    border-radius: 5px 5px 0 0;
}
.project-card h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.3rem;
}
.project-card p {
    padding: 0.5rem;
    font-weight: 400;
}
.project-card a {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 0.5rem;
}
.prj-skill-used {
    margin: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-weight: 400;
}
.prj-skill-used span {
    background-color: var(--color-grey-1);
    padding: 0.2rem 0.5rem;
    border-radius: var(--border-radius-1);
}
.prj-git-img {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.prj-gitlink {
    position: absolute;
    left: 25.5rem;
    top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-1);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.prj-git-img a {
    color: #ff9900;
}

// Blog Page

.fourth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem 0 5rem 0;
    width: 100%;
}
.fourth-page-color {
    background-color: var(--color-primary);
    position: relative;
}
.blog-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.313rem;
    z-index: 1;
}
.blog-card {
    margin-top: 2rem;
    background-color: var(--color-grey-1);
    display: flex;
    flex-direction: column;
    width: 615px;
    height: 375px;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-1);
}
.blog-img {
    width: 100%;
    height: 200px;
    background-color: var(--color-secondary);
    border-radius: 5px 5px 0 0;
}
.blog-card a {
    color: #0c7fde;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 0 0 0.5rem;
}
.blog-time {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}
.blog-desc {
    padding-left: 0.5rem;
    font-weight: 300;
}

// Contact Page

.fifth-page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem 0 5rem 0;
    width: 100%;
}
.fifth-page-color {
    background-color: var(--color-grey-1);
    position: relative;
}
.contact-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.contact-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.cnt-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.cnt-left input {
    background-color: var(--color-grey-2);
    border: none;
    border-radius: var(--border-radius-1);
    width: 425px;
    height: 40px;
    margin-bottom: 1rem;
}
.cnt-left label {
    align-self: start;
    font-size: 1rem;
    font-weight: 400;
}
.contact-links {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
}
.cnt-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
    height: 100%;
}
.cnt-right input {
    background-color: var(--color-grey-2);
    border-radius: var(--border-radius-1);
    margin-bottom: 1rem;
    border: none;
    width: 400px;
    height: 200px;
}
.cnt-right label {
    font-size: 1rem;
    font-weight: 400;
}
.cnt-right button {
    border: none;
    align-self: end;
    color: var(--color-black);
    border-radius: var(--border-radius-1);
    background-color: var(--color-primary);
    padding: 0.5rem;
    width: 14rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

// Footer

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-secondary);
    font-weight: 400;
}
footer p {
    width: 400px;
}
footer p a {
    text-decoration: underline;
}
footer div {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 400px;
    gap: 0.5rem;
}
footer div a {
    color: var(--color-black);
    font-size: 1.2rem;
}

// Circle Styles

// Front Page Circles

.circle-1 {
    overflow: hidden;
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0;
    right: 0;
}

.circle-1::before {
    content: "";
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-faded);
}

.circle-2 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    top: 16rem;
    right: 20rem;
    border-radius: 50%;
    background-color: var(--color-secondary-faded);
}

.circle-3 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 8rem;
    left: 2rem;
    border-radius: 50%;
    background-color: var(--color-secondary-faded);
}

.circle-4 {
    overflow: hidden;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 0;
    left: 30rem;
}

.circle-4::before {
    content: "";
    transform: translate(0, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-faded);
}

// Third-Page Circles

.circle-5 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 0;
    right: 15rem;
}

.circle-5::before {
    content: "";
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-faded);
}

.circle-6 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 10rem;
    right: 8rem;
    border-radius: 50%;
    background-color: var(--color-secondary-faded);
}

.circle-7 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 32rem;
    left: 10rem;
    border-radius: 50%;
    background-color: var(--color-secondary-faded);
}

.circle-8 {
    overflow: hidden;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 0;
    left: -5rem;
}

.circle-8::before {
    content: "";
    transform: translate(0, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-faded);
}


// Fifth-Page Circles

.circle-9 {
    overflow: hidden;
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 0;
    right: 0rem;
}

.circle-9::before {
    content: "";
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-faded);
}

.circle-10 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 10rem;
    right: 20rem;
    border-radius: 50%;
    background-color: var(--color-secondary-faded);
}

.circle-11 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 15rem;
    left: 10rem;
    border-radius: 50%;
    background-color: var(--color-secondary-faded);
}

.circle-12 {
    overflow: hidden;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 0;
    left: -5rem;
}

.circle-12::before {
    content: "";
    transform: translate(0, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-primary-faded);
}

// For screens under 1150px

@media only screen and (max-width: 1150px) {
    .fp-right {
        display: none;
    }
    .skills-container {
        flex-direction: column;
    }
    .nav-navigation {
        display: none;
    }
    .skills-desc {
        width: 90%;
    }
    .skills-desc p {
        width: 90%;
    }
    .project-container {
        flex-direction: column;
    }
    .project-card {
        width: 400px;
    }
    .prj-gitlink {
        left: 22.5rem;
    }
    .blog-card {
        width: 400px;
    }
    .created {
        display: none;
    }
    .contact-container form {
        flex-direction: column;
    }
    .contact-links {
        display: none;
    }
    .contact-container form input {
        width: 300px;
    }
    .cnt-right {
        margin: 0;
    }
    .cnt-right button {
        align-self: center;
    }


    // Circle Mobile

    // Front-Page Circles

    .circle-1 {
        height: 20rem;
        width: 20rem;
    }
    .circle-2 {
        height: 15rem;
        width: 15rem;
        top: 5rem;
    }
    .circle-3 {
        height: 10rem;
        width: 10rem;
    }
    .circle-4 {
        height: 8rem;
        width: 8rem;
        left: 15rem;
    }

    // Third-Page Circles

    .circle-5 {
        height: 20rem;
        width: 20rem;
    }
    .circle-6 {
        height: 15rem;
        width: 15rem;
        top: 5rem;
    }
    .circle-7 {
        height: 10rem;
        width: 10rem;
    }
    .circle-8 {
        height: 8rem;
        width: 8rem;
        left: 15rem;
    }

    // Fifth-Page Circles 
    
    .circle-9 {
        height: 10rem;
        width: 10rem;
    }
    .circle-10 {
        height: 20rem;
        width: 20rem;
    }
}

// For screens under 400px

@media only screen and (max-width: 400px) {
    main {
        margin-top: 0.5rem;
    }
    .nav-body {
        top: 0.5rem;
    }
    .project-card {
        width: 350px;
    }
    .prj-gitlink {
        left: 19.5rem;
    }
    .blog-card {
        width: 350px;
        height: 400px;
    }
}
